# Main Streamlit and Google Cloud libraries
streamlit
google-cloud-aiplatform
google-auth
httpx
psycopg2-binary
pandas

# Libraries for SigLIP model
--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers
Pillow
sentencepiece
